{
  "swagger": "2.0",
  "info": {
    "title": "Fluxo Client Credentials",
    "version": "1.0.0"
  },
  "host": "oauth.bb.com.br",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/x-www-form-urlencoded"
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "parameters": [
          {
            "name": "grant_type",
            "description": "Deverá ser informado: client_credentials",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "scope",
            "description": "Os escopos deverão ser informados separados por espaço.",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "description": "Deverá ser informado:  application/x-www-form-urlencoded\n",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ResponseToken"
            },
            "description": "Geração de Access Token"
          }
        }
      },
      "parameters": [
        {
          "name": "Authorization",
          "description": "Deverá ser informado no padrão: Basic {Base64(client_id:client_secret)}",
          "in": "header",
          "required": true,
          "type": "string"
        },
        {
          "name": "Content-Type",
          "description": "Deverá ser informado:  application/x-www-form-urlencoded\n",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ]
    }
  },
  "definitions": {
    "ResponseToken": {
      "description": "",
      "required": [
        "access_token",
        "token_type",
        "expires_in"
      ],
      "type": "object",
      "properties": {
        "access_token": {
          "description": "Token de Acesso"
        },
        "token_type": {
          "description": "Tipo de token"
        },
        "expires_in": {
          "description": "Tempo de Expiração do token"
        }
      },
      "example": "{\n  \"access_token\": \"Yyr_4-0c2bgPhzbH60SkEmMuJO77DI9ZESN-vZBZ_hMK8BNMOAvlw.6en65sKd2itKfRwqKEr\n                   7nZPbT6C4S6AglgqDtDwaUsBgHlbLFzjgZevTxnyv1Zjh0SZQNMTngzw1E60vJkPSJQXWOam2\n                   EylIQ_-j7lOfWjLiLX6zdBF-4BC_9r2IqA5EQhKS\\eZxkN17FcPTwaOpzsOb6tMxvmg6hWVpx\n                   YKMoye64go1VOtPZprBEnjdu3xZIhDFYWcKSfaGJDpcvNXczSQZoK7i19FZetvDa-QX9AO1NK\n                   SQVQXSj-uSK3OnwUQXZySBotR5B_IklGV5oyguUN7ZA3wUMZohhhMTRh9CavKEEG1sf1L8Ygk\n                   vTpTVQv7W9xKhCzqm8Oyy25JrmOaeeI0BYVREc83BitfNKAp3Gf-7mfS6YOit8LWbdfJxxrRA\n                   AIRGhRmCDjahPd_fiRMR4nr-lDi0LHtmlKWVWeswFKdOj1uKsJ8adqL18ksdKfZBJWXh0XFb4\n                   EALjmojkE6t0L_7zrwdNySonkqKotGVwbm3n5j5Eyleqc2O7J11Y2bljHbdLWk7vtUpHmhGEL\n                   zjK-N66iLIhDKZmQEZKILBskWCq5jeSC-ZfF1dkJML-4Jl3nB1DtbyKVlB6Sv65_kJ-qNOCfT\n                   aiifV03VcFvx6cM5qKFozintpvxq8ht8M0M.fxPC5LQXbBSE9WNnHVBGY1qKfGDodeLNI4-qg\n                   4jP5hLKIfLGzOo43zmqiABAToVLZyj3oJACKk-tyGGovpFd4Q\",\n  \"token_type\": \"Bearer\",\n  \"expires_in\": 600\n}"
    }
  }
}
